lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
coverage

pids
logs

.vscode
.*.swp
*~
*~HEAD
.#*
[#]*[#]
.DS_Store
npm-debug.log*
node_modules

organizations.backup.json
bower_components/
_dist/
_code-analysis/
profile.json

web/auth/dist
web/app/dist

.gitattributes

*.orig
.nyc_output
.vscode
